<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    CS30 - {% block title_block %} Title {% endblock %}
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <link href="{% static '\css\style.css' %}" rel="stylesheet">
  {% block headblock %}
  {% endblock %}
</head>



<div class="row site-colour">
  <div class="col d-flex justify-content-start">
    <a class="navbar-brand" href="{% url 'webapp:home' %}">
      <img src="{% static '/images/logo.png' %}" alt="" width="150">
    </a>
  </div>

  {% if user.is_authenticated %}


  <div class="col d-flex justify-content-center">
    <div class="d-flex mt-2">
      <a class="btn pe-none nav-text nav-text"> Hello, {{user.username}} </a>
      <a type="button" class="btn btn-primary mt-2 mb-3" data-bs-toggle="modal" data-bs-target="#idInfo"> Info </a>
    </div>
  </div>

  <div class="modal fade" id="idInfo" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">How to use this site :)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
			This is the database management system for the carbon footprint calculation and visualisation suite made in collaboration with Team 29 and 30. On this end we expect you to access the data directly, to update any data that's outdated, add new data and remove old. This webapp also contains the API used on Team 29's end to connect securely to the database which is currently hosted on mongodb's ATLAS cloud service while the app is being developed, we expect that you will want to change this, maybe to run on your own servers, so we have indicated code that will need to be changed. 
          </p>
		  <p>
			Information on how to use the API can be found in the API readme.md, or <a href="{% url 'api:home' %}">here</a> at the API endpoint homepage.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"> Ok, thanks! </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col d-flex justify-content-end mt-3 ">
    <form>
      <div class="row mx-2">
        <input class="form-control col" type="search" id="search" placeholder="e.g. 1111" aria-label="search">
        <button class="btn btn-success col " type="submit" > Search </button>
      </div>
    </form>
  </div>

  {% endif %}
</div>

<div>
<nav class="mt-3 px-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% block navblock %}
    {% endblock %}
  </ol>
</nav>


<body class="">
  {% block body_block %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>
