{% extends 'webapp/base.html' %}
{% load static %}

{% block title_block %}
Home
{% endblock %}

{% block navblock %}
<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'webapp:home' %}">Home</a></li>
{% endblock %}

{% block body_block %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

      {% for message in messages %}
      {{ message }}
      {% endfor %}

      {% if user.is_authenticated %}

      <div class="d-grid gap-2 col-12 mx-auto"">
              <a class=" btn button-menu" href="{% url 'webapp:dbview' %}">Viewdb</a>
        <a class="btn button-menu" href="{% url 'webapp:edit' %}">Edit</a>
        <a class="btn button-menu" href="{% url 'webapp:add' %}">Upload</a>
        <a class="btn button-menu" href="{% url 'webapp:logout' %}">Logout</a>
      </div>

      {% else %}
      <div class="d-grid gap-2 col-12 mx-auto">
        <a class="btn button-menu" href="{% url 'webapp:register' %}">Register</a>
        <a class="btn button-menu" href="{% url 'webapp:login' %}">Login</a>
      </div>

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
