{% extends 'webapp/base.html' %}
{% load static %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}
<center>
  <div class="form">
    <div class="nav">
      <a class="nav" href="{% url 'webapp:home' %}"> Home </a>
      > Login
    </div>

    <form id="login_form" method="post" action=".">
      {% csrf_token %}
      <div>
        <p class="formtext">Username:</p> <input class = "input" type="text" name="username" value="" size="50" />
        <br />
        <p class="formtext">Password:</p> <input class = "input" type="password" name="password" value="" size="50" />
        <br />

        <br />
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        <br />

      </div>
      <button class="loginb" type="submit"> Login </button>
    </form>
    <div class="alternativetext">
      Don't have an account?
      <a class="nav" href="{% url 'webapp:register' %}"> Register </a>
    </div>
  </center>
  {% endblock %}
