<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Sign Up</title>
		<link href="{% static '\css\style.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="header">

			<a href="/"  >
				<img src="{% static '/images/logo.png' %}" max-width="20%" alt="SWC Logo">
			</a>
		</div>
		<center>
		<div class="form">
			<div class="nav"> <a class="nav" href="{% url 'webapp:home' %}" > Home</a> > Register</div>
			{% if registered %}
			<strong>Thank you for registering!</strong>
			<a href="/webapp/">Return to the homepage.</a><br />
			{% else %}

			<form id="user_form" method="post" action="/webapp/register/"
				enctype="multipart/form-data">

			{% csrf_token %}
			{{ user_form.as_p }}
			{{ profile_form.as_p }}
			<!-- Provide a button to click to submit the form. -->
			<input class="loginb" type="submit" name="submit" value="Register" />
			</form>
			<div class="alternativetext">Already have an account? <a class="nav" href="{% url 'webapp:login' %}" > Login</a>
			{% endif %}

		</div>
		</center>
	</body>
</html>
