<!DOCTYPE html>
<html>
  <head>
    <title>RESTRICTED</title>
  	<link href="{% static '\css\style.css' %}" rel="stylesheet">
  </head>

  <body>
    <div class="header">

			<a href="{% url 'webapp:home' %}">
				<img src="{% static '/images/logo.png' %}" max-width="20%" alt="SWC Logo">
			</a>
		</div>
    <div>
    <a href="{% url 'webapp:dbview' %}">DBView</a><br/>
	  <a href="{% url 'webapp:register' %}">Register Here</a><br/>
	  <a href="{% url 'webapp:login' %}">Login</a>

    </div>
  </body>
</html>
