.form{
	text-align: center;
	width: 90%; 
	height: 100vh;
	background-color: #E5EEE9;
	font-family: Calibri;
	}

.header{
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #017A5B;
}

.loginb{
	background-color: #B4E3D8;
	border: none;
	padding: 1em 3em;
	margin-top: 2em;
}

.formtext{
	margin-left: -320px;
}

.input{
	background-color:#E0E0E0;
	border: 0px;
	padding: 0.5em;
}

.nav{
	text-align:left;
	text-decoration:none;
	color:#00CF79;
	padding:0.5em;
	font-weight:900;
}

.welcome{
	font-size:36px;
	font-weight:900;
	color:#017A5B;
	
}

.bodytext{
	width:60%;
	background-color:#FFFFFF;
	
}



input{
	background-color:#E0E0E0;
	border: 0px;
	padding: 0.5em;
	
}


.alternativetext{
	color:#017A5B ;
	
}


.buttons{
	height:10%;
	content-align:center;
}





